<div class="dashboard-river">
    <div class="pic"></div>
    <div class="dashboard-container">
            <h1> Dashbord Home Security</h1>
            <div *ngIf="fichier | async as data">
            <!-- <p>Data from Firebase:</p>
            <pre>{{ data | json }}</pre> -->
            <div class="gauges-container">
                <div class="gauge-container">
                <ngx-gauge *ngIf="data.temperature" [value]="data.temperature" cap="round" type="arch" [thick]="20" [size]="300" 
                label="temperature" append="°C"></ngx-gauge>
                </div>
                <div class="gauge-container">
                <ngx-gauge *ngIf="data.humidity" [value]="data.humidity" cap="round" type="arch" [thick]="20" [size]="300" 
                label="humidity" append="%"></ngx-gauge>
                </div>
            </div>
            <div class="access-status" *ngIf="showAccessStatus && data.authorizationResult !== undefined && data.cardID !== undefined">
                <p [ngClass]="{'allowed': data.authorizationResult, 'not-allowed': !data.authorizationResult}">
                {{ data.authorizationResult ? 'Access is allowed' : 'Access is not allowed' }} for the card : {{data.cardID}}
                </p>
            </div>
            <div class="presence-status" *ngIf="data.presence !== undefined">
                <p [ngClass]="{'present': data.presence, 'not-present': !data.presence}">
                {{ data.presence ? 'Mouvement is detected' : 'Mouvement is not detected' }}
                </p>
            </div>
        </div>
    </div>
</div>
